* {
    padding: 0;
    margin: 0; 
 }

@font-face {
     font-family: Georgia;
     src: url("/fonts/Georgia.ttf");
     color: #000000;
}
 
@font-face {
    font-family: Georgia;
    src: url("/fonts/Georgia-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: normal;
    color: #000;
}

p {
    margin-bottom: 0;
    text-align: center;
}

.header,
section,
footer {
    padding: 1.875vw;
}

.header menu {
    line-height: 0.5;
}

.container-fluid {
    width: auto;
}

.logo img{
    max-width: auto;
}

.header .row {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-left: 1.875vw;
    font-size: 1.75vw;
    display: inline-flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li ul {
    display: block;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5vw;
  position: absolute;
  transition: all 2s ease;
  margin-top: 5.625vw;
  margin-left: 1.563vw;
  font-size: 1.5vw;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: unset;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.menu-item a,
.phone a {
    text-decoration: none;
    color: #000000; /* Цвет ссылок */
    text-align: center;
}

.menu-item a:hover,
.phone a:hover {
    text-decoration: none;
    color: #808080; /* Цвет посещенных ссылок */
}

.menu-item img {
    max-width: 100%;
    margin-right: 0.313vw;
}

.more {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px;
    gap: 1.250vw;
    margin-bottom: 0.938vw;
    font-weight: bold;
}

.more p {
    font-size: 1.3vw;
    margin-bottom: 0;
}

/*стрелка*/
.arrow {
    position: relative;
    transform: matrix(0.64, -0.77, -0.77, -0.64, 0, 0);
    animation: arrow 2s infinite;
    }
    .arrow:before,
    .arrow:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 16.5px solid transparent;
      border-right: 0;
      }
   .arrow {
    width: 15px;
    height: 10px;
    background: #4B4949;
    }
    .arrow:after {
      top: -11.5px;
      right: -12px;
      border-left-color: #4B4949;
      }
@keyframes arrow {
    0%{
    opacity: 0;
    transform: rotate(5deg)  ;
    }
}

.phone {
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links img {
    max-width: 100%;
    margin: 0.625vw 0.313vw 0.625vw 0;
}

/*главная страница*/
.main {
    border: 0.125vw solid #4D334A;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/фон\ главный.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
}

/*slider*/
.slider {
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
    border-radius: 3.125vw;
}

.slider__wrapper {
    background: rgba(255,255,255, 0.5);
}

.slider__items {
    counter-reset: slide;
}
  
.slider__item {
    height: 12.5vw;
    overflow: hidden;
    position: relative;
    counter-increment: slide;
}
  
.slider__item::after {
    position: absolute;
    top: 0.625vw;
    right: 1.250vw;
    color: #fff;
}
  
img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
  
.slider__item_inner {
    position: absolute;
    left: 1.875vw;
    right: 1.875vw;
    top: 1.875vw;
    bottom: 1.875vw;
    overflow: hidden;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.slider__item_img {
    display: flex;
    align-items: center;
}
  
.slider__item_testimonial {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.slider__item_name {
    font-size: 1.3vw;
    padding-top: 0.938vw;
    padding-bottom: 0.938vw;
    color: #000000;
    text-align: center;
}
  
@media (min-width: 576px) {
    .slider__item_inner {
    flex-direction: row;
    }
  
    .slider__item_testimonial {
    margin-left: 1.875vw;
    }
  
    .slider__item_img {
    flex: 0 0 12.5vw;
    content: "";
    }
  
    .slider__item_testimonial {
    text-align: left;
    }    
}

@media (max-width: 576px) {
    .slider__item_inner {
    flex-direction: row;
    }
  
    .slider__item_testimonial {
    margin-left: 1.875vw;
    }
  
    .slider__item_img {
    flex: 0 0 12.5vw;
    content: "";
    }
  
    .slider__item_testimonial {
    text-align: left;
    }  
}

.slider__item_action {
    padding: 0.938vw;
    width: 20vw;
}
  
.btn {
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.3vw;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: rgb(138, 99, 133);
    text-decoration: none;
}
  
.btn:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(129, 99, 138, 0.7);
}

/*фигуры на главной странице*/
.container-main {
    margin: 1.875vw;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-shape-outer {
    display: flex;
    flex-shrink: 0;
    height: 25vw;
    width: 31.25vw;
    margin: 1.875vw;
    background: rgba(255,255,255, 0.5);
}

.main-shape-inner {	
    content: "";
    height: 24.063vw;
    width: 30.313vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.hexagon .tutle a {
    color: #FFFFFF;
    font-size: 1.3vw;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    width: 20vw;
    height: 10vw;
    text-transform: uppercase;
    position: absolute;
    transform: translate(-126%, 15%);
}

.tutle a:hover {
    text-decoration: none;
    color: #FFFFFF; /* Цвет посещенных ссылок */
    text-shadow: 3px 3px 3px #000;
}

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* анимация на главной странице
@keyframes main-shape-outer {
    0% {transform:rotate(-45deg)}
    50%{transform:rotate(-135deg)}
    100%{transform:rotate(-225deg)}}
  @keyframes span-1 {
    0% {transform:translate(0);}
    50%{transform:translate(-29vw, 0)}
    100%{transform:translate(0);}}
  @keyframes span-2 {
    0%{transform:translate(0);}
    50%{transform:translate(29vw, 0)}
    100%{transform:translate(0);}}
  @keyframes span-3 {
    0%{transform:translate(0);}
    50%{transform:translate(0, -29vw)}
    100%{transform:translate(0);}}
.main-shape-outer {
    height: 23vw;
    width: 29vw;
    position: relative;
    animation: loader 15s infinite ease-in-out;
  }
  .main-shape-inner {
    height: 22vw;
    width: 28vw;
    left: 0;
    top: 0;
  }
  .main-shape-inner {
    animation: span-1 15s ease-in-out infinite;
  }*/

/*товары*/
.catalog {
    border: 0.125vw solid #4D334A;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/фон\ каталога.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.list-group {
    padding-left: 0.938vw;
}

.list-group p {
    text-align: left;
    font-size: 1.5vw;
    font-weight: bold;
}

.list-group-item {
    text-align: left;
    background-color: transparent;
    border: none;
}

.list-group ul {
    padding-left: 0.938vw;
    font-size: 1.3vw;
}

.line-list {
    border-bottom: 1px solid #000000; 
    margin-bottom: 1.875vw;
}

.list-group a {
    text-decoration: none;
    color: #000000; /* Цвет ссылок */
}

.list-group a:hover {
    text-decoration: none;
    color: #808080; /* Цвет посещенных ссылок */
}

/*фигуры на странице товаров*/
.catalog-shape-outer {
    display: flex;
    flex-shrink: 0;
    height: 26.875vw;
    width: 28.125vw;
    margin: 1.875vw;
    background: rgba(255,255,255, 0.5);
}

.catalog-shape-inner {	
    content: "";
    height: 25.938vw;
    width: 27.188vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.octagon .tutle a {
    color: #FFFFFF;
    font-size: 1.3vw;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    width: 20vw;
    height: 10vw;
    text-transform: uppercase;
    position: absolute;
    transform: translate(-119%, 15%);
}

.octagon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

/*услуги*/
.services {
    border: 0.125vw solid #4D334A;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/фон\ услуги.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
}

@media (max-width: 576px) {
    .services {
    line-height: 0.5;
    }
}

h1 {
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    padding-bottom: 1.875vw;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-shape-outer {
    display: flex;
    flex-shrink: 0;
    height: 18.750vw;
    width: 18.750vw;
    margin: 0.938vw;
    background: rgba(255,255,255, 0.5);
}

.works-shape-inner {
    content: "";
    height: 17.813vw;
    width: 17.813vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.works {
    text-align: center;
    width: 18vw;
    height: 3vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.3vw;
    margin: 0 0 1.875vw 0.938vw;
}

.works a {
    color: #000000;
    font-size: 1.3vw;
}

.works a:hover {
    text-decoration: none;
    color:#808080; /* Цвет посещенных ссылок */
} 

/*механика*/
.form-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
}

.form-borrom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-left,
.form-right {
    padding-left: 5vw;
    padding-right: 5vw;
}

.form {
    width: 21.875vw;
    height: 23.438vw;
    background: rgba(255,255,255, 0.3);
    border-radius: 2.188vw;
    border: 1px solid #9f9a9a;
    text-align: center;
}

.form img {
    margin-top: 1.88vw;
    margin-bottom: 1.88vw;
    width: 18.75vw;
    height: 15.625vw;
}

.name {
    font-size: 1.3vw;
}

/*карточки товара и услуг*/
.container-product,
.container-work {
    margin: 1.875vw 0.938vw 0 0.938vw;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shape {
    margin: 1.875vw;
    width: 15.75vw;
    height: 100%;
    background: rgba(255,255,255, 0.7);
    border-radius: 2.188vw;
    border: 1px solid #b0aaaa;
    text-align: center;
}

.product,
.work {
    padding: 1.875vw 0.938vw;
}

a p {
    padding-top: 1.875vw;
}

.product a.display,
.work a.display {
    color: #000000;
    font-size: 1.1vw;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product a.display:hover,
.work a.display:hover {
    text-decoration: none;
    color:#808080; /* Цвет посещенных ссылок */
} 

.none {
    display: none;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p {
    font-size: 1.5vw;
    text-indent: 50px;
    text-align: justify;
    line-height: 1.5;
}

/*маленький слайд до-после*/
.little {
    max-width: 500px;
  }

.little:nth-child(1) {
    background: url(../img/Металлообработка/слайд/до.jpg);
    background-position: center;
    background-size: cover;
}

.little:nth-child(2) {
    background: url(../img/Металлообработка/слайд/после.jpg);
    background-position: center;
    background-size: cover;
}

/*о компании и контакты*/
.contacts,
.about_us {
    border: 2px solid #4D334A;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/фон\ компании.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
    line-height: 1.8;
    font-size: 1.5vw;
}

.about_us {
    text-indent: 50px;
}

h3 {
    font-weight: bold;
    font-size: 1.5vw;
    padding-bottom: 1.875vw;
}

.contacts p,
.about_us p {
    font-size: 1.5vw;
    margin-bottom: 1em;
    line-height: 2.5;
    text-align: justify;
}

.about_us a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.about_us a:hover {
    text-decoration: none;
    color: #352BA8; /* Цвет посещенных ссылок */
}

.video {
    max-height: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.line-text {
    border: 1px solid #8B8282;
    margin: 1.875vw 1.25vw 1.875vw 1.25vw;
}

.footer {
    background: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    color: #FFFFFF;
    line-height: 1.5;
}

.text-ps {
    color: #ABAAAA;
    text-align: center;
}

li img {
    content: "";
    height: auto;
    width: auto;
}

.bottom a {
    text-decoration: none;
    color: #FFFFFF;
}

.bottom a:hover {
    text-decoration: none;
    color: #808080; /* Цвет посещенных ссылок */
}

.bottom ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    border-bottom: 1px solid #ECE6E6; 
    margin: 1.875vw 1.25vw 1.875vw 1.25vw;
}

.text {
    text-align: center;
}
